{% extends 'index.html' %}

{% block extra-css %}
<link rel="stylesheet" href="/static/css/signin.css">
<style>
body{
    background: #003b64;
}
</style>
{% endblock %}

{% block body %}
<div class="container">

      <form class="form-signin" method="post">{% csrf_token %}
        <h2 class="form-signin-heading">KindAdmin</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <span style="color: red">{{ error_msg }}</span>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}